* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 620px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px red dashed;
}

ul {
  list-style: none;
}

.buttons {
  width: 400px;
  height: 330px;
  border: 2px red dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button {
  height: 50px;
  width: 150px;
  margin: 20px;
}

.line {
  /* width: 3rem; */
  height: 6.75rem;
  border-left: 2px solid lightgray;
  position: relative;
  left: 1.5rem;
}

.or-drawing {
  height: 16.5rem;
  width: 3rem;
  border: 2px red dashed;
}

.draw {
  background-color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 2px lightgray solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
  font-weight: bolder;
}

.form {
  border: 2px red dashed;
  width: 600px;
  height: 330px;
  margin: 20px;
}

.register {
  align-items: center;
  position: relative;
  top: 180px;
  border: 2px red dashed;
  width: 800px;
  height: 30px;
}

.register a {
  font-weight: bolder;
  border: none;
  font-size: 10px;
  text-decoration: none;
  
}

.line2 {
  /* width: 3rem; */
  height: 10px;
  border-left: 2px solid lightgray;
  position: relative;
  left: 1.5rem;

/* div[class="container"]::after {
  content: "😎";
} */