body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  border: 2px red dashed;
}

.buttons {
  width: 20rem;
  border: 2px red dashed;
}

.buttons::after {
}

.buttons button {
  width: 15rem;
  height: 3rem;
  border: 2px red dashed;
  margin: 0.5rem;
}

.line {
  /* width: 3rem; */
  height: 6rem;
  border-left: 2px solid lightgray;
  position: relative;
  left: 1.5rem;
}

.or-drawing {
  height: 15rem;
  width: 3rem;
  border: 2px red dashed;
}

.draw {
  background-color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 2px lightgray solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
  font-weight: bolder;
}
